body {
	 padding: 0;
	 font-size: 16px;
	 line-height: 25.875px;
	 font-family: 'HelveticaNeueETW01-55Rg';
}


.haiku {
	font-family: 'Crimson Text', serif;
	font-size:  1.1em;
	font-weight: 400;
	line-height:  1.3em;

}

.author {
	font-family: 'Karla', sans-serif;
	font-size:  .9em;
	font-weight: 400i;
	color: #999;
	line-height:  1.7em;
	text-align: right;
            font-style: italic;

}

.meta {
	font-family: 'Karla', sans-serif;
	font-size:  .7em;
	font-weight: 400;
	color: #999;
	line-height:  1.7em;
	text-align: right;

}

.

h2 {
	font-size: 2em;
	line-height: 1.5;
}

/* Table Formatting */



